.modal-fullscreen {
    width: 100vw;
    max-width: none;
    height: 100%;
    margin: 0;
}
.acq-subsection .form-row,.acq-subsection .mat-form-field-type-mat-select{
      margin: 0 25px !important;
}